body {
    background-color: #fff6da;
}

.navbar {
    background-color: #fc6b3f;
    box-shadow: 0px 10px 7px #26252591;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    height: 100px;
    color: #fff6da;
    text-align: center;

}

.brand {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 25px;
}

.footer {
    background-color: #fc6b3f;
    font-family: 'Press Start 2P', cursive;
    font-size: 5px;
    height: 40px;
    color: #fff6da;
}
